:root {
    --font-family: "Public Sans", sans-serif;
    --second-family: "Ibarra Real Nova", sans-serif;
    --third-family: "PublicSans", sans-serif;
    --font3: "Karla", sans-serif;
  }
  *{
    margin: 0;
    padding: 0;
box-sizing: border-box;
  }
  .container{
    width: 100%;
    max-width: 1131px;
    margin: 0 auto;
    padding: 0 10px;
  }
  a{
    text-decoration: none;
  }
  button{
    border: none;
  }